<table width="497" border="0" cellpadding="2" cellspacing="0">
	<tr>
		<td align="right" bgcolor="ffffff" valign="top" rowspan="3" width="98">
			<img src="/img/gen4/pixel_black.gif" height="400" width="1">
		</td>
		<td class="standardBold"><!--- %printname% ---></td>
		<td width="99">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" bgcolor="ffffff" width="300" valign="top" height="240"><IMG SRC="/img/font/<!--- %fimgname% --->" height="<!--- %fontheight% --->" width="300"></td>
	</tr>
	<tr>
		<td valign="top">
			<TABLE CELLPADDING=2 CELLSPACING=0 BORDER=0 WIDTRH=100%>
				<TR>
					<TD ALIGN="left"><B>Name:</B></TD>
					<TD ALIGN="LEFT"><!--- %printname% ---></TD>
				</TR>
				<TR>
					<td align="left" class="standardBold"><B>Price:</B></TD>
					<TD ALIGN="LEFT">$<!--- %fontprice% ---></TD>
				</TR>
				<TR>
					<td align="left" class="standardBold"><B>Created:</B></TD>
					<TD ALIGN="LEFT"><!--- %created% ---></TD>
				</TR>
				<TR>
					<td align="left" class="standardBold"><B>Modified:</B></TD>
					<TD ALIGN="LEFT"><!--- %modify% ---></TD>
				</tr>
				<tr>
					<td align="left" class="standardBold"><B>Mac Char:</B></TD>
					<TD ALIGN="LEFT"><!--- %macchars% ---></TD>
				</tr>
				<tr>
					<td align="left" class="standardBold"><B>Pc Char:</B></TD>
					<TD ALIGN="LEFT"><!--- %pcchars% ---></TD>
				</TR>
				<!--- NOTES
				<tr>
					<td align="left" class="standardBold" valign="top"><B>Desc:</B></TD>
					<TD ALIGN="LEFT">%notes%</TD>
				</TR>
				 --->
				<!--- MAILORDER
				<tr>
					<td align="left" class="standardBold" valign="top">&nbsp;</TD>
					<td align="left"><br><a href="http://www.grilledcheese.com/c/order.pl?fa=%fname%&action=add"><img src="/img/mailorder.gif" border="0" width="166" height="19"></a><br></td>
				</tr>
				--->
				<!--- MAKAMBO
				<tr>
					<td align="left" class="standardBold" valign="top">&nbsp;</TD>
					<td align="left"><br><a href="%makambo_link%"><img src="/img/makambo.gif" border="0" height="29" width="178"></a></td>
				</tr>
				--->

				<!--- DOWNLOADS
				<tr>
					<td colspan="2" align="center"><img src="/img/gen4/pixel_black.gif" height="1" width="300">
					</td>
				</tr>
				<tr>
					<td align="left" class="standardBold" valign="top"><B>Downloads:</B></TD>
					<TD ALIGN="LEFT">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">
						<TABLE BORDER=0 CELLPADDING=4 CELLSPACING=0 WIDTH=100% bgcolor="ffffff">
							<TR>
								<TD>&nbsp;</TD>
								<TD BGCOLOR="e1e1e1"><FONT SIZE=-1><B>Type</B></FONT></TD>
								<TD><FONT SIZE=-1><B>File Name</B></FONT></TD>
								<TD BGCOLOR="e1e1e1"><FONT SIZE=-1><B>Size (KB)</FONT></B></TD>
								<TD><FONT SIZE=-1><B>Count</B></FONT></TD>
							</TR>
							%downloads%
						</TABLE>
					</TD>
				</TR>
				 --->
			</TABLE>
		</td>
	</tr>
</table>