<HTML>
<HEAD>
    <META name="description" CONTENT="Original Freeware, Shareware, and Commercial Fonts Instantly Downloadable For Your Windows or Macintosh Computer.">
	<META NAME="keywords" CONTENT="Grilledcheese.com, TeA, Calcium, Fonts, Freeware, Shareware, Commercial, Grunge, Typeface, Founts, Serif, Display, Punk, Tacos, Grilled, Cheese, Monkey, Desktop Publishing, Foundry, TacoLand, perl, cgi, design, freelance">
	<!--- %META% --->
	<TITLE>GrilledCheese.com: Mr Carrots wants his glitter back.
</TITLE>

	<!--- %JAVA% --->
<SCRIPT LANGUAGE=JAVASCRIPT>

image_1 = new Image;
image_2 = new Image;
image_3 = new Image;
image_4 = new Image;
image_5 = new Image;
image_6 = new Image;
image_7 = new Image;
image_8 = new Image;
image_9 = new Image;
image_10 = new Image;

image_1.src = 'http://grilledcheese.com/img/gen3/tank_2_1.gif';
image_2.src = 'http://grilledcheese.com/img/gen3/tank_2_2.gif';
image_3.src = 'http://grilledcheese.com/img/gen3/tank_2_3.gif';
image_4.src = 'http://grilledcheese.com/img/gen3/tank_2_4.gif';
image_5.src = 'http://grilledcheese.com/img/gen3/tank_2_5.gif';
image_6.src = 'http://grilledcheese.com/img/gen3/tank_2_6.gif';
image_7.src = 'http://grilledcheese.com/img/gen3/tank_2_7.gif';
image_8.src = 'http://grilledcheese.com/img/gen3/tank_2_8.gif';
image_9.src = 'http://grilledcheese.com/img/gen3/tank_2_9.gif';
image_10.src = 'http://grilledcheese.com/img/gen3/tank_2_10.gif';

function rx(ogre)
	{
	document.atkins.src = eval('image_' + ogre + ".src");
	}

function cevin()
	{
	document.atkins.src = image_1.src;
	}

</SCRIPT>

</HEAD>

	<MAP NAME="freekinside.map">
		<AREA SHAPE=CIRCLE COORDS="82,22,18"    HREF="http://grilledcheese.com/cgi-bin/grill-cgi/listfont.pl/previews=false/text=false/details=no.htm" onmouseover="rx(2)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,47,18"    HREF="http://grilledcheese.com/cgi-bin/grill-cgi/static.pl/page=faqs" onmouseover="rx(3)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="31,82,18"    HREF="http://tacoland.com/tea/" onmouseover="rx(4)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="22,118,20"   HREF="http://grilledcheese.com/cgi-bin/grill-cgi/static.pl/page=book" TARGET="new" onmouseover="rx(5)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="34,159,18"   HREF="http://grilledcheese.com/cgi-bin/grill-cgi/static.pl/page=updates" onmouseover="rx(6)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,197,18"   HREF="http://grilledcheese.com/cgi-bin/grill-cgi/static.pl/page=links" onmouseover="rx(7)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,237,18"   HREF="http://tacoland.com/ransom" onmouseover="rx(8)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="44,277,18"   HREF="http://tacoland.com" onmouseover="rx(9)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="27,312,18"	HREF="mailto:tea@grilledcheese.com" onmouseover="rx(10)" onmouseout="cevin()">
	</MAP>

</HEAD>



<BODY BGCOLOR="#FFFFFF" LINK="#000000" VLINK="#000000" ALINK="#FF0000">

<CENTER>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=551>

	<TR>
		<TD BGCOLOR="#000000" ROWSPAN=5>&nbsp;</TD>
		<TD ALIGN="LEFT" VALIGN="BOTTOM" WIDTH=573 COLSPAN=3><IMG SRC="http://grilledcheese.com/img/gen3/top.gif" WIDTH=573 HEIGHT=104 USEMAP="#topbar.map" BORDER=0></TD>
	</TR>
	<TR>
		<TD ALIGN="CENTER" VALIGN="TOP" WIDTH=464 NOWRAP>
			<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
				<TR>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_1_l.gif" WIDTH=27 HEIGHT=29></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_2_1.gif" NAME="atkins" WIDTH=228 HEIGHT=29></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_1_r.gif" WIDTH=27 HEIGHT=29></TD>
					<TD>
					<IMG SRC="http://grilledcheese.com/img/gen3/tank_3_1.gif" WIDTH=31 HEIGHT=29><IMG SRC="http://grilledcheese.com/img/gen3/tank_3_1.gif" WIDTH=31 HEIGHT=29></TD>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD WIDTH=102 BGCOLOR="#7EB545" BACKGROUND="http://grilledcheese.com/img/gen3/navback.gif" VALIGN="top" ROWSPAN=3><IMG SRC="http://grilledcheese.com/img/gen3/navbar2.gif" BORDER=0 HEIGHT=342 WIDTH=101 USEMAP="#freekinside.map" ISMAP></TD>
		<TD WIDTH=8 BGCOLOR="#000000" ROWSPAN=4>&nbsp;</TD>
	</TR>

	<TR>
		<TD ALIGN="LEFT" VALIGN="TOP" WIDTH=464>

			<!--- %MAIN_BEGIN% --->

			<!--- %MAIN% --->

			<!--- %MAIN_END% --->
			<BR>
		</TD>
	</TR>


	<FORM METHOD="post" action="http://www.grilledcheese.com/cgi-bin/grill-cgi/mailing.pl">
	<INPUT TYPE="hidden" NAME="action" VALUE="add">

	<TR>
		<TD ALIGN="CENTER" VALIGN="TOP" BGCOLOR="#000000" WIDTH=463>
			<FONT FACE="airal,helvetica" COLOR="#FFFFFF"><B>Mailing List:</B></FONT>&nbsp;&nbsp;<INPUT NAME="email" TYPE="text" size=15 maxlength=60>&nbsp;&nbsp;<INPUT TYPE="submit" VALUE="go">
		</TD>

	</TR>

	</FORM>

	<TR>
		<TD BGCOLOR="#7EB545" COLSPAN=2 ALIGN="CENTER" VALIGN="MIDDLE"><FONT SIZE="-1">&copy; copyrite 1997-1999 TeA Curran, Xone Zero Media</FONT></TD>
	</TR>

	<TR>
		<TD BGCOLOR="#000000" COLSPAN=4 HEIGHT=8>&nbsp;</TD>
	</TR>

	<TR>
		<TD ALIGN="LEFT" COLSPAN=4 VALIGN="TOP">
			<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=0>
				<TR>
					<TD></TD>
					<TD WIDTH=10></TD>
					<TD ALIGN="LEFT"><IMG SRC="http://grilledcheese.com/img/gen3/bar.gif" WIDTH=8 HEIGHT=5></TD>
					<TD></TD>
					<TD ALIGN="RIGHT"><IMG SRC="http://grilledcheese.com/img/gen3/bar.gif" WIDTH=8 HEIGHT=5></TD>
					<TD WIDTH=10></TD>
					<TD></TD>
				</TR>
				<TR>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/cap_l.gif" WIDTH=12 HEIGHT=24></TD>
					<TD COLSPAN=5 BGCOLOR="000000"><FONT COLOR="FFFFFF">&nbsp;<!--- %QUOTE% --->&nbsp;</FONT></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/cap_r.gif" WIDTH=12 HEIGHT=24></TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

</TABLE>

</CENTER>
</BODY>
</HTML>
<BR><BR>
