			<!--- %MAIN_END% --->
			<BR>
		</TD>
		<TD WIDTH=8 BGCOLOR="#00B2EB" VALIGN="top"><IMG SRC="/img/gen2/navbar.gif" BORDER=0 HEIGHT=315 WIDTH=86 USEMAP="#freekinside.map" ISMAP></TD>
		<TD WIDTH=8 BGCOLOR="#000000">&nbsp;</TD>
	</TR>

	<FORM METHOD="post" action="http://www.grilledcheese.com/cgi-bin/grill-cgi/mailing.pl">
	<INPUT TYPE="hidden" NAME="action" VALUE="add">
	<TR>
		<TD BGCOLOR="#000000" WIDTH=8>&nbsp;</TD>
		<TD ALIGN="CENTER" VALIGN="TOP" BGCOLOR="#000000">
			<FONT FACE="airal,helvetica" COLOR="#FFFFFF"><B>Mailing List:</B></FONT>&nbsp;&nbsp;<INPUT NAME="email" TYPE="text" size=15 maxlength=60>&nbsp;&nbsp;<INPUT TYPE="submit" VALUE="go">
		</TD>
		<TD WIDTH=8 BGCOLOR="#00B2EB" VALIGN="top">&nbsp;</TD>
		<TD WIDTH=8 BGCOLOR="#000000">&nbsp;</TD>
	</TR>
	</FORM>

	<TR>
		<TD BGCOLOR="#000000" WIDTH=8>&nbsp;</TD>
		<TD BGCOLOR="#00B2EB" COLSPAN=2 ALIGN="CENTER" VALIGN="MIDDLE"><FONT SIZE="-1">&copy; copyrite 1997-1999 TeA Curran, Xone Zero Media</FONT></TD>
		<TD BGCOLOR="#000000" WIDTH=8>&nbsp;</TD>
	</TR>

	<TR>
		<TD BGCOLOR="#000000" COLSPAN=4 HEIGHT=8>&nbsp;</TD>
	</TR>

</TABLE>

</CENTER>

</BODY>

</HTML>
