<HTML>
<HEAD>
    <META name="description" CONTENT="Original Freeware, Shareware, and Commercial Fonts Instantly Downloadable For Your Windows or Macintosh Computer.">
	<META NAME="keywords" CONTENT="Grilledcheese.com, TeA, Calcium, Fonts, Freeware, Shareware, Commercial, Grunge, Typeface, Founts, Serif, Display, Punk, Tacos, Grilled, Cheese, Monkey, Desktop Publishing, Foundry, TacoLand, perl, cgi, design, freelance">
	<!--- %META% --->
	<TITLE>Grilledcheese.com : Ransom Threat</TITLE>

	<!--- %JAVA% --->
<SCRIPT LANGUAGE=JAVASCRIPT>

image_1 = new Image;
image_2 = new Image;
image_3 = new Image;
image_4 = new Image;
image_5 = new Image;
image_6 = new Image;
image_7 = new Image;
image_8 = new Image;
image_9 = new Image;
image_10 = new Image;

image_1.src = 'http://grilledcheese.com/img/gen3/tank_2_1.gif';
image_2.src = 'http://grilledcheese.com/img/gen3/tank_2_2.gif';
image_3.src = 'http://grilledcheese.com/img/gen3/tank_2_3.gif';
image_4.src = 'http://grilledcheese.com/img/gen3/tank_2_4.gif';
image_5.src = 'http://grilledcheese.com/img/gen3/tank_2_5.gif';
image_6.src = 'http://grilledcheese.com/img/gen3/tank_2_6.gif';
image_7.src = 'http://grilledcheese.com/img/gen3/tank_2_7.gif';
image_8.src = 'http://grilledcheese.com/img/gen3/tank_2_8.gif';
image_9.src = 'http://grilledcheese.com/img/gen3/tank_2_9.gif';
image_10.src = 'http://grilledcheese.com/img/gen3/tank_2_10.gif';

function rx(ogre)
	{
	document.atkins.src = eval('image_' + ogre + ".src");
	}

function cevin()
	{
	document.atkins.src = image_1.src;
	}

</SCRIPT>

</HEAD>

	<MAP NAME="freekinside.map">
		<AREA SHAPE=CIRCLE COORDS="82,22,18"    HREF="http://grilledcheese.com/c/listfont.pl/previews=false/text=false/details=no.htm" onmouseover="rx(2)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,47,18"    HREF="http://grilledcheese.com/c/static.pl/page=faqs" onmouseover="rx(3)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="31,82,18"    HREF="http://tacoland.com/tea/" onmouseover="rx(4)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="22,118,20"   HREF="http://grilledcheese.com/c/static.pl/page=book" onmouseover="rx(5)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="34,159,18"   HREF="http://grilledcheese.com/c/static.pl/page=updates" onmouseover="rx(6)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,197,18"   HREF="http://grilledcheese.com/c/static.pl/page=links" onmouseover="rx(7)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="50,237,18"   HREF="http://tacoland.com/ransom" onmouseover="rx(8)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="44,277,18"   HREF="http://tacoland.com" onmouseover="rx(9)" onmouseout="cevin()">
		<AREA SHAPE=CIRCLE COORDS="27,312,18"	HREF="mailto:tea@grilledcheese.com" onmouseover="rx(10)" onmouseout="cevin()">
	</MAP>

</HEAD>



<BODY BGCOLOR="#FFFFFF" LINK="#000000" VLINK="#000000" ALINK="#FF0000">

<CENTER>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=551>

	<TR>
		<TD BGCOLOR="#000000" ROWSPAN=5>&nbsp;</TD>
		<TD ALIGN="LEFT" VALIGN="BOTTOM" WIDTH=573 COLSPAN=3><IMG SRC="http://grilledcheese.com/img/gen3/top.gif" WIDTH=573 HEIGHT=104 USEMAP="#topbar.map" BORDER=0></TD>
	</TR>
	<TR>
		<TD ALIGN="CENTER" VALIGN="TOP" WIDTH=464 NOWRAP>
			<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
				<TR>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_1_l.gif" WIDTH=27 HEIGHT=29></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_2_1.gif" NAME="atkins" WIDTH=228 HEIGHT=29></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/tank_1_r.gif" WIDTH=27 HEIGHT=29></TD>
					<TD>
					<IMG SRC="http://grilledcheese.com/img/gen3/tank_3_1.gif" WIDTH=31 HEIGHT=29><IMG SRC="http://grilledcheese.com/img/gen3/tank_3_1.gif" WIDTH=31 HEIGHT=29></TD>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD WIDTH=102 BGCOLOR="#7EB545" BACKGROUND="http://grilledcheese.com/img/gen3/navback.gif" VALIGN="top" ROWSPAN=3><IMG SRC="http://grilledcheese.com/img/gen3/navbar2.gif" BORDER=0 HEIGHT=342 WIDTH=101 USEMAP="#freekinside.map" ISMAP></TD>
		<TD WIDTH=8 BGCOLOR="#000000" ROWSPAN=4>&nbsp;</TD>
	</TR>

	<TR>
		<TD ALIGN="LEFT" VALIGN="TOP" WIDTH=464>

			<!--- %MAIN_BEGIN% --->

				<FONT SIZE=+3 FACE="impact,verdana,airal,helvetica"><B>Ransom Threat</B></FONT><BR>
	<CENTER>
		<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=0 WIDTH=347>
			<TR>
				<TD VALIGN="BOTTOM" ALIGN="LEFT"><IMG SRC="/img/gen2/side.gif" WIDTH=47 HEIGHT=199></TD>
 				<TD><IMG SRC="/img/font/previewmissing.gif" height=200 width=300></TD>
			</TR>
			<TR>
				<TD BGCOLOR="#000000">&nbsp;</TD>
				<TD VALIGN="TOP" ALIGN="LEFT"><IMG SRC="/img/gen2/sm_triangle.gif"></TD>
			</TR>

			<TR>
				<TD BGCOLOR="#000000">&nbsp;</TD>
				<TD VALIGN="TOP" ALIGN="CENTER">
					<TABLE CELLPADDING=2 CELLSPACING=0 BORDER=0 WIDTRH=100%>
						<TR>
							<TD ALIGN="RIGHT"><B>Name:</B></TD>
							<TD ALIGN="LEFT">Ransom Threat</TD>
						</TR>
						<TR>
							<TD ALIGN="RIGHT"><B>Price:</B></TD>
							<TD ALIGN="LEFT">$0.00</TD>
						</TR>
						<TR>
							<TD ALIGN="RIGHT"><B>Created:</B></TD>
							<TD ALIGN="LEFT">3/22/99</TD>
							<TD ALIGN="RIGHT"><B>Mac Char:</B></TD>
							<TD ALIGN="LEFT">56</TD>
						</TR>
						<TR>
							<TD ALIGN="RIGHT"><B>Modified:</B></TD>
							<TD ALIGN="LEFT">3/24/99</TD>
							<TD ALIGN="RIGHT"><B>Pc Char:</B></TD>
							<TD ALIGN="LEFT">56</TD>
						</TR>
						
						<TR>
							<TD ALIGN="RIGHT" VALIGN="TOP"><B>Notes:</B></TD>
							<TD ALIGN="LEFT" COLSPAN=3>Whoo, isn't this font fun.  Sorry theres no preview image here. I ahvent had a chance to make one yet.  Look at it in use over at <A Href="http://tacoland.com/ransom">TacoLand</A> to see it in action.</TD>
						</TR>
						

					</TABLE>
				</TD>
			</TR>

			<!--- %fileinfo% --->
				<TR>
		<TD BGCOLOR="#000000">&nbsp;</TD>
		<TD BGCOLOR="#000000" ALIGN="CENTER"><FONT COLOR="#FFFFFF"><B>Downloads</B></FONT></A></TD>
	</TR>
	<TR>
		<TD BGCOLOR="#000000">&nbsp;</TD>
		<TD><BR><TABLE BORDER=0 CELLPADDING=4 CELLSPACING=0 WIDTH=100%>
<TR><TD>&nbsp;</TD><TD BGCOLOR="d2efff"><FONT SIZE=-1><B>Type</B></FONT></TD><TD><FONT SIZE=-1><B>File Name</B></FONT></TD><TD BGCOLOR="d2efff"><FONT SIZE=-1><B>Size (KB)</FONT></B></TD><TD><FONT SIZE=-1><B>Count</B></FONT></TD></TR>
<TR><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=mac/type=ttf/get=ransom.html"><IMG SRC="/img/gen2/apple_d.gif" BORDER=0 HEIGHT=16 WIDTH=18></A></TD><TD BGCOLOR="d2efff">TTF</TD><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=mac/type=ttf/get=ransom.html">ransomttf.sit.hqx</A></TD><TD BGCOLOR="d2efff">59.48</TD><TD>313</TD></TR>
<TR><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=mac/type=ps/get=ransom.html"><IMG SRC="/img/gen2/apple_d.gif" BORDER=0 HEIGHT=16 WIDTH=18></A></TD><TD BGCOLOR="d2efff">PS</TD><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=mac/type=ps/get=ransom.html">ransomps.sit.hqx</A></TD><TD BGCOLOR="d2efff">145.25</TD><TD>374</TD></TR>
<TR><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=pc/type=ttf/get=ransom.html"><IMG SRC="/img/gen2/windows_d.gif" BORDER=0 HEIGHT=16 WIDTH=18></A></TD><TD BGCOLOR="d2efff">TTF</TD><TD><A Href="http://www.grilledcheese.com/c/download.pl/font=ransom/platform=pc/type=ttf/get=ransom.html">ransomttf.zip</A></TD><TD BGCOLOR="d2efff">109.3</TD><TD>1590</TD></TR>
</TR></TABLE></TD>
	</TR>
	<TR>
		<TD BGCOLOR="#000000">&nbsp;</TD>
		<TD>&nbsp;</TD>
	</TR>

				<TR>
		<TD BGCOLOR="#000000">&nbsp;</TD>
		<TD BGCOLOR="#000000">&nbsp;</TD>
	</TR>

		</TABLE>
		<BR>
	</CENTER>


			<!--- %MAIN_END% --->
			<BR>
		</TD>
	</TR>

	<FORM METHOD=post action=http://scripts.dreamhost.com/add_list.cgi>
    	<INPUT type=hidden name=list 			value="CheeseMailing">
   	<INPUT type=hidden name=url 			value="http://grilledcheese.com/c/mailing.pl?m=1">
    	<INPUT type=hidden name=unsuburl 		value="http://grilledcheese.com/c/mailing.pl?m=3">
    	<INPUT type=hidden name=alreadyonurl 		value="http://grilledcheese.com/c/mailing.pl?m=5">
    	<INPUT type=hidden name=notonurl 		value="http://grilledcheese.com/c/mailing.pl?m=4">
    	<INPUT type=hidden name=invalidurl 		value="http://grilledcheese.com/c/mailing.pl?m=6">
    	<INPUT type=hidden name=domain 			value="grilledcheese.com">
    	<INPUT type=hidden name=emailit 		value="1">

	<TR>
		<TD ALIGN="CENTER" VALIGN="TOP" BGCOLOR="#000000" WIDTH=463>
			<FONT FACE="airal,helvetica" COLOR="#FFFFFF"><B>Mailing List:</B></FONT>&nbsp;&nbsp;<INPUT NAME="address" TYPE="text" size=15 maxlength=60>&nbsp;&nbsp;<INPUT TYPE="submit" VALUE="go">
		</TD>

	</TR>

	</FORM>

	<TR>
		<TD BGCOLOR="#7EB545" COLSPAN=2 ALIGN="CENTER" VALIGN="MIDDLE"><FONT SIZE="-1">&copy; copyrite 1997-1999 TeA Curran, Xone Zero Media</FONT></TD>
	</TR>

	<TR>
		<TD BGCOLOR="#000000" COLSPAN=4 HEIGHT=8>&nbsp;</TD>
	</TR>

	<TR>
		<TD ALIGN="LEFT" COLSPAN=4 VALIGN="TOP">
			<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=0>
				<TR>
					<TD></TD>
					<TD WIDTH=10></TD>
					<TD ALIGN="LEFT"><IMG SRC="http://grilledcheese.com/img/gen3/bar.gif" WIDTH=8 HEIGHT=5></TD>
					<TD></TD>
					<TD ALIGN="RIGHT"><IMG SRC="http://grilledcheese.com/img/gen3/bar.gif" WIDTH=8 HEIGHT=5></TD>
					<TD WIDTH=10></TD>
					<TD></TD>
				</TR>
				<TR>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/cap_l.gif" WIDTH=12 HEIGHT=24></TD>
					<TD COLSPAN=5 BGCOLOR="000000"><FONT COLOR="FFFFFF">&nbsp;<!--- %QUOTE% --->&nbsp;</FONT></TD>
					<TD><IMG SRC="http://grilledcheese.com/img/gen3/cap_r.gif" WIDTH=12 HEIGHT=24></TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

</TABLE>

<BR>

</CENTER>
</BODY>
</HTML>
<BR><BR>
