

<html>
<head>
<title>new_pagelayout2.htm </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="Fireworks Splice HTML">


<!-- Copy the JavaScript code including the opening and closing script tags, and paste
it into the head section of the destination document. If the destination document already
contains a script section, do not include the script tags when copying. -->

<!-------------------- BEGIN COPYING THE JAVASCRIPT SECTION HERE -------------------->


<SCRIPT NAME="JavaScript">

asshole = new Image;
bastard = new Image;

asshole.src = '/img/xxx/cube_filled.gif';
bastard.src = '/img/xxx/cube_black.gif';


function cubeit(oOo)
	{
	document["cube" + oOo].src = asshole.src;
	}
function uncube(oOo)
	{
	document["cube" + oOo].src = bastard.src;
	}

</SCRIPT>


</head>


<body bgcolor="#ffffff">


<!-- The following section is an HTML table which reassembles the sliced image in a browser.
Copy the table section including the opening and closing table tags, and paste the data where
you want the reassembled image to appear in the destination document. -->

<!-------------------------- BEGIN COPYING THE TABLE HERE --------------------------->


<!-- Image with table -->

<table border="1" cellpadding="0" cellspacing="0">
	<!--
  <tr><!- spacing row, 0 height. ->
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="14" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="14" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="44" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="9" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="8" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="38" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="45" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="169" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="45" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="39" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="39" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="9" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="58" height="1" border="0"></td>
  </tr>
	-->
  <tr><!-- row 02 -->
    <td rowspan="4" colspan="6"><img name="Nnewpagelayout2_02_02" src="/img/xxx/new_pagelayo_02_02.gif" width="127" height="112" border="0"></td>
    <td rowspan="3" colspan="1"><img name="Nnewpagelayout2_02_08" src="/img/xxx/new_pagelayo_02_08.gif" width="45" height="79" border="0"></td>
    <td rowspan="1" colspan="5"></td>

    <td rowspan="10" colspan="1" VALIGN="TOP" ALIGN="LEFT">
		<A Href="#" onMouseOver="cubeit(1)" onMouseOut="uncube(1)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube1" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(2)" onMouseOut="uncube(2)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube2" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(3)" onMouseOut="uncube(3)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube3" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(4)" onMouseOut="uncube(4)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube4" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(5)" onMouseOut="uncube(5)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube5" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(6)" onMouseOut="uncube(6)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube6" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(7)" onMouseOut="uncube(7)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube7" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(8)" onMouseOut="uncube(8)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube8" BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(9)" onMouseOut="uncube(9)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube9" BORDER=0></A>	<BR>
	</td>

   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="31" border="0"></td>
  </tr>
  <tr><!-- row 03 -->
    <td rowspan="1" colspan="4" BGCOLOR="000000"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
    <td rowspan="5" colspan="1" BGCOLOR="000000"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>

	<!---
    <td rowspan="9" colspan="1">
		<A Href="#" onMouseOver="cubeit(1)" onMouseOut="uncube(1)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube1" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(2)" onMouseOut="uncube(2)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube2" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(3)" onMouseOut="uncube(3)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube3" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(4)" onMouseOut="uncube(4)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube4" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(5)" onMouseOut="uncube(5)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube5" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(6)" onMouseOut="uncube(6)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube6" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(7)" onMouseOut="uncube(7)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube7" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(8)" onMouseOut="uncube(8)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube8" WIDTH=40 BORDER=0></A>	<BR>
		<A Href="#" onMouseOver="cubeit(9)" onMouseOut="uncube(9)"><IMG SRC="/img/xxx/cube_black.gif" NAME="cube9" WIDTH=40 BORDER=0></A>	<BR>
	</td>
	 --->
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="9" border="0"></td>
  </tr>
  <tr><!-- row 04 -->
    <td rowspan="1" colspan="4" BGCOLOR="E72D27"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="39" border="0"></td>
  </tr>
  <tr><!-- row 05 -->
    <td rowspan="1" colspan="3"></td>
    <td rowspan="1" colspan="1"><img name="Nnewpagelayout2_05_11" src="/img/xxx/new_pagelayo_05_11.gif" width="39" height="33" border="0"></td>
    <td rowspan="3" colspan="1" BGCOLOR="E72D27"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="33" border="0"></td>
  </tr>
  <tr><!-- row 06 -->
    <td rowspan="5" colspan="1"></td>
    <td rowspan="1" colspan="4"><img name="Nnewpagelayout2_06_03" src="/img/xxx/new_pagelayo_06_03.gif" width="75" height="58" border="0"></td>
    <td rowspan="3" colspan="5"><!--- %MAIN% ---></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="58" border="0"></td>
  </tr>
  <tr><!-- row 07 -->
    <td rowspan="5" colspan="1"></td>
    <td rowspan="5" colspan="1" ALIGN="RIGHT" VALIGN="BOTTOM"><img name="Nnewpagelayout2_08_04" src="/img/xxx/new_pagelayo_08_04.gif" border="0"></td>
    <td rowspan="4" colspan="1" BGCOLOR="000000"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
    <td rowspan="4" colspan="1" BGCOLOR="E72D27"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="50" border="0"></td>
  </tr>
  <tr><!-- row 09 -->
    <td rowspan="4" colspan="2"><img name="Nnewpagelayout2_09_12" src="/img/xxx/new_pagelayo_09_12.gif" width="48" height="215" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="130" border="0"></td>
  </tr>
  <tr><!-- row 10 -->
    <td rowspan="1" colspan="1"><img name="Nnewpagelayout2_10_07" src="/img/xxx/new_pagelayo_10_07.gif" width="38" height="31" border="0"></td>
    <td rowspan="1" colspan="3"></td>
    <td rowspan="1" colspan="1"><img name="Nnewpagelayout2_10_11" src="/img/xxx/new_pagelayo_10_11.gif" width="39" height="31" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="31" border="0"></td>
  </tr>
  <tr><!-- row 11 -->
    <td rowspan="1" colspan="3" BGCOLOR="E72D27"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
    <td rowspan="1" colspan="2"><img name="Nnewpagelayout2_11_10" src="/img/xxx/new_pagelayo_11_10.gif" width="84" height="46" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="46" border="0"></td>
  </tr>
  <tr><!-- row 12 -->
    <td rowspan="1" colspan="3"></td>
    <td rowspan="1" colspan="5" BGCOLOR="000000"><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="1" border="0"></td>
    <td rowspan="1" colspan="2"><img name="Nnewpagelayout2_12_10" src="/img/xxx/new_pagelayo_12_10.gif" width="84" height="8" border="0"></td>
   <td><img src="/img/xxx/new_pagelayo_00.gif" width="1" height="8" border="0"></td>
  </tr>
</table>


<!--   This table was automatically created with Macromedia Fireworks 1.0   -->
<!--   http://www.macromedia.com   -->

<!--------------------------- STOP COPYING THE TABLE HERE --------------------------->

</body>
</html>